<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Links para carregar a fonte Ubuntu do Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <!-- Link para o arquivo CSS -->
    <link rel="stylesheet" href="style.css">
    <title>TechBank: Register</title>
</head>
<body>
    <main>
        <!-- Título da página -->
        <h1>Cadastre-se Gratuitamente!</h1>
        <!-- Imagem do logotipo -->
        <img class="logo" src="../../../icon.png" alt="logo"/>
        <!-- Formulário de cadastro -->
        <form id="cadastro" action="/cadastrar" method="post">
            <!-- Campo para inserir o nome -->
            <label>Nome</label>
            <input id="nome" type="text"/>
            <!-- Campo para inserir o CPF -->
            <label>CPF</label>
            <input id="CPF" type="number"/>
            <!-- Campo para inserir a senha -->
            <label>Senha</label>
            <input id="senha" type="password"/>
            <!-- Campo para inserir o depósito inicial -->
            <label>Depósito Inicial</label>
            <input id="saldoI" type="number"/>
            <!-- Botão para enviar o formulário -->
            <button type="submit">Cadastrar</button>
        </form>
        <!-- Link para a página de login -->
        <h3>Já possui conta? <a href="../Login/">Logar</a></h3>
    </main> 
    <!-- Imagem de fundo -->
    <img class="backImg" src="assets/background.png" alt="background">
    <!-- Inclusão do script JavaScript -->
    <script src="script.js"></script>
</body>
</html>